
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cliente</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-color:#1a1a1a; color:white;">
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:midnightblue">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Nome do aplicativo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse" style="background-color:midnightblue">                
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Página Inicial", "Index", "Cliente")</li>
                    <li>@Html.ActionLink("Comprar Livros", "Livros", "Livro")</li>
                    <li>@Html.ActionLink("Perfil", "Perfil", "Cliente")</li>
                    <li>@Html.ActionLink(Session["QtdCarrinho"]+" Carrinho", "Index", "Carrinho")</li>
                    <li style="margin-left:40vw;">@Html.ActionLink("Logout", "index", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
