@model IEnumerable<Livro.View.Models.Livro>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Livros Cadastrados</h2>

<p>
    @Html.ActionLink("Cadastrar Livro", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Título
            @*@Html.DisplayNameFor(model => model.Titulo)*@
        </th>
        <th>
            Autor
            @*@Html.DisplayNameFor(model => model.Autor)*@
        </th>
        <th>
            Gênero
            @*@Html.DisplayNameFor(model => model.Genero)*@
        </th>
        <th>
            Descrição
            @*@Html.DisplayNameFor(model => model.Descricao)*@
        </th>
        <th>
            Preço
            @*@Html.DisplayNameFor(model => model.Valor)*@
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Situation)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Autor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Situation)
        </td>*@
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.ID }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
