@model IEnumerable<Livro.Model.Livro>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Livros Cadastrados</h2>
@using (Html.BeginForm("index","Livro" ,method: FormMethod.Post))
{
<div class="form-group" method="post">
    <div style="padding-left:0px" class="col-sm-3"> <input type="text" id="CampoPesquisa" placeholder="Nome do livro" class="form-control" name="Busca" /></div>
    <div style="padding-left:0px" class="col-sm-1"><input type="submit" id="Enviar" value="Pesquisar" class="btn" name="botao1" style="width:90px;" /></div>
    <div style="padding-left:0px" class="col-sm-8"><input type="submit" id="Enviar" value="Limpar" class="btn" name="botao1" style="width:90px;" /></div>
</div>
}
<br>
<p>
    @Html.ActionLink("Cadastrar Livro", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Título
        </th>
        <th>
            Autor
        </th>
        <th>
            Gênero
        </th>
        <th>
            Descrição
        </th>
        <th>
            Preço
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.ID }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

