@model IEnumerable<Livro.Model.Livro>

@{
    ViewBag.Title = "Livros";
    Layout = "~/Views/Shared/ClienteLayout.cshtml";
}

<h2>Livros</h2>

@using (Html.BeginForm("Livros", "Livro", method: FormMethod.Post))
{
    <div class="form-group" method="post">
        <div style="padding-left:0px" class="col-sm-3"> <input type="text" id="CampoPesquisa" placeholder="Nome do livro" class="form-control" name="Busca" /></div>
        <div style="padding-left:0px" class="col-sm-1"><input type="submit"  value="Pesquisar" name="botao" class="btn  btn-primary " id="Enviar" /></div>
        <div style="padding-left:0px" class="col-sm-8"><input type="submit"  value="Limpar"    name="botao" class="btn  btn-primary " id="Enviar" /></div>
    </div>
}
<p>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Autor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>

            <td>
                @Html.ActionLink("Adicionar ao carrinho", "AdicionarCarrinho", new { id = item.ID })
            </td>
        </tr>
    }

</table>
